.button {
    -fx-background-color: linear-gradient(#789664, #375D41);
    -fx-font: 16px Tahoma;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: #F0F0F0;
}

.button:pressed {
  	-fx-background-color: linear-gradient(#B07050, #FFA050);
    -fx-font: 16px Tahoma;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: #F0F0F0;
}
